{% extends 'base_layout.html' %}


{% block auth %}
    <div class="columns is-centered" style="margin-top: 6%">
        <div class="column is-4">
            <div class="box has-background-info-light">
                <form class="form  has-text-centered" method="post">
                    <h1 class="title is-size-2 has-text-centered">Вход</h1>
                    {% csrf_token %}
                        
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    
                    {% for f in form %}
                        <div class="field">

                            <p>
                                <label for="{{ f.id_for_label }}" class="label">{{ f.label }}</label>
                                {{ f }}
                                <div class="form-error">{{ f.errors }}</div>
                            </p>
                        </div>
                    {% endfor %}
                    <button type="submit" class="button is-primary is-fullwidth">
                        Вход
                    </button>
                    <p class="content mt-3">
                       Нету аккаунта?
                        <span>
                           <a class="register-link" href="{% url 'users:register' %}">Регистрация</a>
                       </span>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}