{% extends "base_layout.html" %}

{% block main %}
   <form class="site-form has-background-light" method="post" enctype="multipart/form-data">
   <div class="title">Изменить комментарий</div>
       {% csrf_token %}
       {{ form }}
       <div class="has-text-centered my-2">
           <button type="submit" class="button is-success">Изменить</button>
           <a href="{% url 'store:product_detail' product.pk %}" class="button is-danger">Отмена</a>
       </div>
   </form>
{% endblock %}